@use "../utility" as u;
.tableGrid {
	&__header,
	&__info .wepAsc {
		display: grid;
		grid-template-columns: 150px 300px 200px 100px;
		column-gap: 25px;
	}
	&__header {
		border-bottom: 3px solid var(--black);
		p {
			margin: u.rem(10) 0;
			font-size: u.rem(25);
			font-weight: 600;
			text-align: center;
		}
		p:last-of-type {
			grid-column: 3 / span 1;
			text-align: center;
		}
	}
	&__info {
		.wepAsc {
			align-self: center;
			padding: 0 u.rem(20);
			img {
				align-self: center;
				height: 50px;
			}

			p {
				align-self: center;
				margin: u.rem(10) 0;
				font-size: u.rem(18);
			}
			&__Edit {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: u.rem(5) u.rem(10);
				p {
					font-weight: 600;
					color: var(--black);
				}
			}
		}
		.wepAsc:nth-child(even) {
			background-color: var(--white);
		}
	}
}
