@use "../utility" as u;
.tableGrid {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 20px;
	row-gap: 20px;
	&__wep,
	&__char {
		h3 {
			padding: u.rem(20) 0;
			text-align: center;
		}
	}
	&__wep {
		.wepAsc {
			width: auto;
			display: grid;
			grid-template-columns: 75px 200px;
			column-gap: 5px;
			align-self: center;
			padding: u.rem(5) u.rem(20);
			img {
				align-self: center;
				height: 50px;
				width: 53px;
				border-right: 3px solid var(--lGray);
			}
			p {
				align-self: center;
				margin: u.rem(10) 0;
				font-size: u.rem(18);
			}
			&__Edit {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: u.rem(5) u.rem(10);
				p {
					font-weight: 600;
					color: var(--black);
				}
			}
		}
		.wepAsc:nth-child(even) {
			background-color: var(--white);
		}
	}
	&__char {
		.matInfo {
			display: grid;
			grid-template-columns: 75px 500px;
			column-gap: 5px;
			align-self: center;
			padding: u.rem(5) u.rem(20);
			img {
				align-self: center;
				height: 50px;
				border-right: 3px solid var(--lGray);
			}
			&__Char {
				display: grid;
				justify-content: center;
				align-items: center;
				grid-template-columns: repeat(auto-fill, 50px);
				column-gap: u.rem(5);
				row-gap: u.rem(5);
				&__Indiv {
					min-height: 50px;
					min-width: 50px;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					margin: 0;
					border-radius: u.rem(10);
					background-color: white;
					img {
						border: 3px solid var(--black);
						border-radius: u.rem(10);
					}
				}
			}
			&__Edit {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: u.rem(5) u.rem(10);
				p {
					font-weight: 600;
					color: var(--black);
				}
			}
		}
		.matInfo:nth-child(even) {
			background-color: var(--white);
		}
	}
}
