:root {
	//Color-Palette
	--black: #0e0e0e;
	--dGray: #181818;
	--gray: #282828;
	--lGray: #909096;
	--white: #d9d9d9;
	--seaFoam: #55b987;

	//Color-Accent
	--red: #f24746;
	--orange: #f47d36;
	--yellow: #fcc23c;
	--green: #42ae98;
	--blue: #4470c3;
	--purple: #5e548e;
}
